Source: mod-auth-mysql
Section: httpd
Priority: optional
Maintainer: Joey Schulze <joey@debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5.0.0), dpatch, libmysqlclient15-dev, apache2-threaded-dev (>= 2.0.50-10)

Package: libapache2-mod-auth-mysql
Architecture: any
Depends: ${shlibs:Depends}, apache2.2-common (>= 2.2.3-3)
Description: Apache 2 module for MySQL authentication
 A module for the Apache 2 web server which enables HTTP authentication
 against information stored in a MySQL database.
