#!/usr/bin/make -f

#   Copyright 2002-2005   Matthew Palmer <mpalmer@debian.org>
#   Copyright 2008   Joey Schulze <joey@infodrom.org>
#
#   This program is free software; you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation; version 2 dated June, 1991.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with this program;  if not, write to the Free Software
#   Foundation Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA


APACHE2=$(CURDIR)/debian/tmp

include /usr/share/dpatch/dpatch.make

configure: patch configure-stamp
configure-stamp:
	dh_testdir
	./configure --disable-apache13 --enable-apache2
	touch configure-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	dh_clean -A
	test ! -f Makefile || $(MAKE) distclean
	chmod a-x debian/patches/*.dpatch
	rm -f config.status config.log config.h
	rm -f configure-stamp build-stamp

build-indep: build
build-arch: build
build: build-stamp
build-stamp: configure
	dh_testdir
	$(MAKE)
	touch build-stamp

install: build
	dh_testdir
	dh_testroot
	dh_installdirs -A

	install -m 644 apache2_mod_auth_mysql.so $(APACHE2)/usr/lib/apache2/modules/mod_auth_mysql.so
	install -m 644 auth_mysql.load $(APACHE2)/etc/apache2/mods-available

binary: binary-arch binary-indep
binary-indep: install
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installdocs -A
	dh_installchangelogs -A
	dh_strip -A
	dh_compress -A
	dh_installdeb -A
	dh_shlibdeps -A
	dh_gencontrol -A
	dh_md5sums -A
	dh_builddeb -A

.PHONY: build build-arch build-indep clean binary-indep binary-arch binary install
